[build]
  publish = "docs"
  functions = "netlify/functions"

[dev]
  framework = "#static"
  autoLaunch = false
[build]
  publish = "docs"
  functions = "netlify/functions"

[dev]
  framework = "#static"
  autoLaunch = false
